.navbar img {
  width: 150px;
}
.proHead {
  font-weight: bold;
}
body {
  background-color: rgb(0, 0, 0);
  color: white;
}

.language-btn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  width: 114px;
}

hr {
  background: white;
}

.profEdit {
  color: white;
  background-color: #535353;
}

.editButton {
  width: 80px;
  border: 1px solid;
  background-color: transparent;
  color: #6c6c6c;
  border: 1px solid #6c6c6c;
  transition: 0.3s ease-in-out;
}

.mature2 {
  background-color: #535353;
  width: 160px;
  text-transform: uppercase;
  font-size: small;
  display: inline;
  font-weight: bolder;
}

.profile-buttons {
  display: flex;
  justify-content: center;
}

.bottom-btn {
  margin: 7px;
  background-color: transparent;
  color: #6c6c6c;
  border: 1px solid #6c6c6c;
  transition: 0.3s ease-in-out;
}

.bottom-btn:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.container {
  padding: 0%;
  width: 532px;
}

.avatar {
  width: 120px;
}
