.navbar img {
  width: 150px;
}
nav {
  background-image: linear-gradient(180deg,black, #141414);
}
.proHead {
  font-weight: bold;
}
body {
  background: #141414;
  color: white;
}

.language-btn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  width: 114px;
}

hr {
  border-top: .05em solid rgb(97, 97, 97);
}

.profEdit {
  color: white;
  background-color: #535353;
  font-weight: lighter;
}

.editButton {
  width: 80px;
  border: 1px solid;
  background-color: transparent;
  color: #6c6c6c;
  letter-spacing: 1px;
  border: 1px solid #6c6c6c;
  transition: 0.3s ease-in-out;
}

.mature2 {
  background-color: #535353;
  width: 160px;
  text-transform: uppercase;
  font-size: small;
  display: inline;
  font-weight: bolder;
}

.profile-buttons {
  display: flex;
  justify-content: center;
}

.bottom-btn {
  position: relative;
  right: 115px;
  margin: 7px;
  background-color: transparent;
  color: #6c6c6c;
  border: 1px solid #6c6c6c;
  transition: 0.3s ease-in-out;
  letter-spacing: 1px;
}
.save-btn {
  background-color: whitesmoke;
  width: 80px;
}

.bottom-btn:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.container {
  padding: 0%;
  width: 532px;
}

.avatar {
  width: 120px;
}
.checkbox {
  width: 25px;
  height: 25px;
  background-color: transparent !important;
  color: #6c6c6c;
}
.autoplay-text {
  position: relative;
  top: 8px;
}
