body {
    display: block;
    background-color: #141414;
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #fff;
    line-height: 1.2;
    user-select: none;
    cursor: default;
    padding: none;
    display: block;
    margin: 0;
}
nav {
    
    background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
    height: 50px;
    margin-right: 0;
    margin-left: 0;
    padding-left: 45px;
    padding-top: 10px;
}
h1 {
    padding-bottom: 6px;
    font-size: 55px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 15px;
    border-bottom: .25px solid  rgb(151, 150, 150);
}

#profile {
    padding-bottom: 5px;
    margin-bottom: 0;
    margin: auto;
    justify-content: center;
    width: 30%;
}
#name-input {
    position: relative;
    width: 16rem;
    height: 1rem;
    font-size: 16px;
    margin-left: 0.5rem;
    bottom: 60px;
    background: rgb(116, 116, 116) ;
    padding-top: 5px;
}
#language {
    font-size: 16px;
    position: relative;
    margin-bottom: 30px;
    bottom: 11px;
    color: rgb(136, 136, 136);
}
#drop-down {
    position: relative;
    left: 100px;
    bottom: 50px;
    padding-top: 10px;
    
    
}
label {
    font-size: 15px;
    letter-spacing: 1px;
    color: rgb(238, 238, 238);
}
#maturity {
    font-size: 13px;
    color: rgb(136, 136, 136);
    width: 76%;
    border-top: 1px solid rgb(151, 150, 150);
    position: relative;
    padding-top: 10px;
    left: 100px;
}
#maturity-btn {
    font-weight: 200;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(90, 85, 85);
    color: rgb(218, 213, 213);
    padding: 6px;
    border: 0;
}
#show-titles {
    position: relative;
    padding-top: 40px;
}
#id-btn {
    margin-top: 20px;
    padding: 4px 2px;
    width: 80px;
    height: 40px;
    color: honeydew;
    background-color:  rgb(36, 35, 35);
    border: 1px solid rgb(151, 150, 150);
    font-size: 16px;
}
#autoplay-controls {
    border-top: 1px solid rgb(151, 150, 150);
    padding-top: 20px;
    margin-top: 40px;
    font-size: 14px;
}
.form-check-input {
    width: 25px;
    height: 25px;
    border-radius: 1px solid rgb(151, 150, 150);
    background-color: black;
}
/* /* .form-check input:checked ~ .checked {
    background-color: #030303;
  } */ /* havent figure this out yet */
.form-check-label {
    bottom: 8px;
    position: relative;
    font-size: smaller;
}
.save-btn.cancel-btn {
    padding: 32px 16px;
}
.cancel-btn {
    
    
}