*{
  font-family: 'Open Sans', sans-serif;
}

.imglogo {
  width: 120px;
  height: 60px; 
}
body {
  background-color: rgb(236, 239, 243);
  
}
.navbar {
  color: white;
  margin-bottom: 20px;
}
.icons {
  margin-left: 20px;
  margin-right: 10px;
}
h4{
  color:rgb(95, 78, 78);
}
.container{
 
  align-items: center;
  justify-content: center;
}

h6{
  color:blue;
  text-align: right;
}
button{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: rgb(214, 212, 212);
  border-radius: 5px;
  border: 0 solid;
  
}
.h6class{
  text-align: left;
  color: blue;
}
hr{
  color-adjust:rgb(145, 138, 138);
}
.ultraHD{
  height: 20px;
  width: 120px;
  border: 1px solid;
  border-radius: 2px;
  padding: 1px;

}
